<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bahiana&display=swap" rel="stylesheet">
<div class="shop-page shop-container">
  <button class="back-button" (click)="goBack()" aria-label="Back to Previous Page">
    <img src="assets/images/back_button.png" alt="Back Icon" />
  </button>

  <header class="central-header">
    <h1>Buy Skins</h1>
  </header>

  <div class="skins-scroll-container">
    <div *ngFor="let skin of skins" class="skin-card">
      <div class="skin-details">
        <h3>{{ skin.Description }}</h3>
      </div>

      <img src="assets/images/poker_logo.jpg" alt="Skin Image" class="skin-image" />

    <button class="add-to-cart-button" [disabled]="isInCart(skin)" (click)="addToCart(skin)">
      {{ isInCart(skin) ? 'Added' : 'Add to Cart' }}
    </button>
    </div>
  </div>

  <div class="cart-section">
    <div class="cart-label">Your Cart</div>

    <div class="cart-items">
      <div *ngFor="let item of cart; let i = index" class="cart-item">
        <span>{{ i + 1 }}. {{ item.Description }}</span>

        <button class="remove-from-cart-button" (click)="removeFromCart(item)">×</button>
      </div>
    </div>

    <button class="checkout-button" [disabled]="cart.length === 0" [ngClass]="{ 'disabled': cart.length === 0 }" (click)="checkout()">
      <img src="assets/images/checkout_button.png" alt="Checkout Icon" />
    </button>

  </div>
</div>