<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bahiana&display=swap"
  rel="stylesheet"
/>
<div class="data-page">
  <!-- Back Button -->
  <button
    class="back-button"
    (click)="goBack()"
    aria-label="Back to Previous Page"
  >
    <img src="assets/images/back_button.png" alt="Back Icon" />
  </button>

  <!-- Central Logo -->
  <header class="central-logo">
    <h1>{{ username }}'s Statistics</h1>
    <!-- <h2>Move-Level Stats</h2>
    <h3>Game Histories</h3> -->
  </header>

  <div class="table-wrapper">
    <div class="performance-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>User Performance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-table
            [dataSource]="user_performance.data"
            class="mat-elevation-z8"
          >
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.action }}
              </mat-cell>
            </ng-container>

            <!-- AvgBalance Column -->
            <ng-container matColumnDef="avgBalance">
              <mat-header-cell *matHeaderCellDef>
                Average Balance
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.avgBalance | currency }}
              </mat-cell>
            </ng-container>

            <!-- WinRate Column -->
            <ng-container matColumnDef="winRate">
              <mat-header-cell *matHeaderCellDef> Win Rate </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.winrate | percent }}
              </mat-cell>
            </ng-container>

            <!-- Header and Row Definitions -->
            <mat-header-row
              *matHeaderRowDef="user_performance.columns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: user_performance.columns"
            ></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Move Level Stats Container -->
    <div class="moves-stats-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>User Performance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-table
            [dataSource]="user_activity.data"
            class="mat-elevation-z8 moves-table"
          >
          <!-- Material Table -->
    
            <ng-container matColumnDef="Date">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.date }} </mat-cell>
            </ng-container>
    
            <!-- Balance Column -->
            <ng-container matColumnDef="GameCount">
              <mat-header-cell *matHeaderCellDef> Game Count </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.gameCount }}
              </mat-cell>
            </ng-container>
    
            <!-- Win Rate Column -->
            <ng-container matColumnDef="NonGameCount">
              <mat-header-cell *matHeaderCellDef> Non-Game Count </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.nonGameCount }}
              </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="TotalActivity">
              <mat-header-cell *matHeaderCellDef> Total Activity </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.totalActivity }}
              </mat-cell>
            </ng-container>
    
            <!-- Header and Row Definitions -->
            <mat-header-row
              *matHeaderRowDef="user_activity.columns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: user_activity.columns"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
