<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bahiana&display=swap"
  rel="stylesheet"
/>

<div class="show-rooms-page show-rooms-container">
  <button
    class="back-button"
    (click)="goBack()"
    aria-label="Back to Previous Page"
  >
    <img src="assets/images/back_button.png" alt="Back Icon" />
  </button>

  <header class="central-header">
    <h1>Active Rooms</h1>
  </header>

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterRooms()"
      placeholder="Search rooms..."
    />
  </div>

  <div class="table-container">
    <!-- Material Table -->
    <mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="RoomID">
        <mat-header-cell *matHeaderCellDef> Rooms </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.RoomID }} </mat-cell>
      </ng-container>

      <!-- Header and Row Definitions -->
      <mat-header-row *matHeaderRowDef="table_columns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: table_columns"
        (click)="selection.toggle(row)"
        [ngClass]="{ highlighted: selection.isSelected(row) }"
        class="hoverable-row"
      ></mat-row>
    </mat-table>
  </div>

  
  <div>
    <button class="join-room" (click)="joinRoom()">Join Room</button>
    <button class="delete-room" (click)="deleteRoom()">Delete Room</button>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  
  <div class="button-container">
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="roomAdd"
        placeholder="Room to add"
      />
    </div>
    <button class="add-room" (click)="addRoom()">Add Room</button>
  </div>
</div>
