/* Global Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

.bahiana-regular {
    font-family: "Bahiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
/* Overall Page Styling */
body, .page-container {
  background-color: #1a1a1a; /* Black background */
  color: #f0f0f0; /* Light text */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out;
}

/* Fade In Animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Central Logo */
.central-logo {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.central-logo h1 {
  font-size: calc(2.5rem + 1.5vw);
  color: #ffffff;
  font-family: 'Bahiana', serif;
  margin: 0;
}

.central-logo:hover {
  transform: scale(1.05);
}

h2 {
    color: #ffffff;
    font-size: calc(2rem + 1.2vw);
    text-align: center;
    font-family: 'Bahiana', serif;
    margin-right: 1200px;
    margin-top: 89px; 
}


/* Line Divider */
.line-divider {
  width: 90%;
  height: 2px;
  background-color: #ffffff;
  margin: 1px auto;
}

/* Content Section */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-right: 130vh;
  padding: 0 10px;
}

.card {
  background-color: #3a3a3a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 15px 0;
  font-size: calc(2rem + 0.5vw);
  font-family: 'Bahiana', serif;
  color: #F28B82;
}

/* Login Icon */
.login-icon {
  position: absolute;
  top: 3vh;
  right: 2vw;
  cursor: pointer;
}

.login-icon img {
  width: 2vw;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-icon img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.shop-icon {
    position: absolute;
    top: 3.3vh;
    right: 8vw;
    cursor: pointer;
}

.shop-icon img {
    width: 2.75vw;
    height: 2vw;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.shop-icon img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.coin-icon {
    position: absolute;
    top: 3.5vh;
    right: 5vw;
    cursor: pointer;
}

.coin-icon img {
    width: 2vw;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.coin-icon img:hover {
    opacity: 1;
    transform: scale(1.1);
}
  

.show-data {
    background-color: #1a1a1a;
    color: #F28B82;
    align-self: center;
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Bahiana', serif;
}
.show-data:hover {
    opacity: 1;
    transform: scale(1.1);
}

