<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bahiana&display=swap" rel="stylesheet">

<div class="page-container">
    <!-- Central Logo -->
    <header class="central-logo" (click)="toggleMessage()">
      <h1>Gambit Gallery</h1>
    </header>
    
    <button class="show-data" (click)="displayDataButton()">Show Data</button>
    <!-- Display Message -->
    <div *ngIf="message" class="message-display">
        {{ message }}
    </div>

    
    <div class="header-container">
        <h2 class="header">Games</h2>
    </div>
    
    <!-- Line Divider -->
    <div class="line-divider"></div>
  
    <!-- Content Section -->
    <div class="content">
      <!-- Blackjack Card -->
      <div class="card-container">
        <a class="card" [routerLink]="['/rooms']" routerLinkActive="active">
          <img src="assets/images/poker_logo.jpg" alt="Poker" class="card-image" />
          <h3>Poker</h3>
        </a>
    </div>
  
    <nav>
      <a class="login-icon" [routerLink]="['/login']" routerLinkActive="active">
        <img src="assets/images/person_icon.png" alt="Login Icon" />
      </a>
      <!-- Add other navigation links here -->
    </nav>


    <nav>
        <a class="coin-icon" [routerLink]="['/transactions']" routerLinkActive="active">
          <img src="assets/images/coin.png" alt="Transaction Icon" />
        </a>
        <!-- Add other navigation links here -->
      </nav>

    <nav>
        <a class="shop-icon" [routerLink]="['/shop']" routerLinkActive="active">
          <img src="assets/images/shop.png" alt="Shop Icon" />
        </a>
        <!-- Add other navigation links here -->
     </nav>
  </div>
  